h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color: red;
}

p {
  text-align: center;
  color: red;
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
        }
        video{
            text-align: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Hello  Welcome To Admin Pannel !! </h1>
    <h2>There is a best emulator app for Desktop</h2>
    <img src="prem.png" alt="Bluestack-5">
    <br>
    <h1>Here Is the best Free Video Player For Desktop Tutorials</h1>
<table border="1" align="center">
    <tr>
        <th colspan="1" rowspan="1">Name</th>
        <th>Adress</th>
        <th>Contact</th>
        <th>Date</th>
    </tr>
    <tr>
        <td rowspan="2">Prem</td>
        <td>Banepa</td>
        <td>9765823141</td>
        <td>2082-01-01</td>
    </tr>
    <tr>
      
        <td>Banepa</td>
        <td>9864243423</td>
        <td>2082-01-01</td>
    </tr>
</table>

</body>
</html>